In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/aimaldastagirzada/Downloads/8a89caa9-511c-4568-af89-7f2174b4378c.csv')

In [3]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses
0,1,2021-01-01T00:00:00,6252,6242,2,NaN,32208,32153,32142,22.0,11,NaN
1,2,2021-01-02T00:00:00,4615,4603,6,NaN,36823,36704,36691,26.0,13,NaN
2,3,2021-01-03T00:00:00,5396,5389,3,NaN,42219,42093,42077,32.0,16,NaN
3,4,2021-01-04T00:00:00,5995,5993,0,NaN,48214,48085,48070,30.0,15,NaN
4,5,2021-01-05T00:00:00,9687,9662,21,NaN,57901,57745,57710,70.0,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,NaN,12207826,7691203.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,NaN,12207830,7691218.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,NaN,12207856,7691247.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,NaN,12207910,7691303.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,NaN,12207947,7691345.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   _id                                          945 non-null    int64
 1   report_date                                  945 non-null    object
 2   previous_day_total_doses_administered        945 non-null    int64
 3   previous_day_at_least_one                    945 non-null    int64
 4   previous_day_fully_vaccinated                945 non-null    int64
 5   previous_day_3doses                          608 non-null    float64
 6   total_doses_administered                     945 non-null    int64
 7   total_individuals_at_least_one               945 non-null    int64
 8   total_individuals_partially_vaccinated       945 non-null    int64
 9   total_doses_in_fully_vaccinated_individuals  337 non-null    float64
 10  total_individuals_fully_vaccinated           945 non-null    int64
 11  total_individuals_3doses                     608 non-null    float64
dtypes: float64(3), int64(8), object(1)
memory usage: 88.7+ KB

In [31]:
import pandas as pd


# Calculate New Doses Administered
df['new_doses'] = df['total_doses_administered'].diff(1)

# Calculate New Doses for Unvaccinated
df['new_doses_unvaccinated'] = df['total_individuals_at_least_one'].diff(1)

# Calculate New Doses for People with One Vaccine
df['new_doses_one_vaccine'] = (df['total_individuals_partially_vaccinated']
                               - df['total_individuals_at_least_one']).diff()

# Calculate New Doses for People with Two Vaccines
df['new_doses_two_vaccines'] = (df['total_individuals_fully_vaccinated']
                                - df['total_individuals_partially_vaccinated']).diff()

# Calculate New Doses for People with Three Vaccines
df['new_doses_three_vaccines'] = (df['total_individuals_3doses']
                                  - df['total_individuals_fully_vaccinated']).diff()

# Print or analyze the resulting DataFrame
print(df[['report_date', 'new_doses', 'new_doses_unvaccinated', 'new_doses_one_vaccine', 'new_doses_two_vaccines', 'new_doses_three_vaccines']])

             report_date  new_doses  new_doses_unvaccinated
0    2021-01-01T00:00:00        NaN                     NaN  \
1    2021-01-02T00:00:00     4615.0                  4551.0
2    2021-01-03T00:00:00     5396.0                  5389.0
3    2021-01-04T00:00:00     5995.0                  5992.0
4    2021-01-05T00:00:00     9687.0                  9660.0
..                   ...        ...                     ...
940  2023-07-30T00:00:00      623.0                    27.0
941  2023-07-31T00:00:00      226.0                     6.0
942  2023-08-01T00:00:00     1085.0                    43.0
943  2023-08-02T00:00:00     1395.0                    72.0
944  2023-08-03T00:00:00     1016.0                    61.0

     new_doses_one_vaccine  new_doses_two_vaccines  new_doses_three_vaccines
0                      NaN                     NaN                       NaN
1                     -2.0                 -4547.0                       NaN
2                     -3.0                 -5383.0                       NaN
3                      1.0                 -5994.0                       NaN
4                    -20.0                 -9620.0                       NaN
..                     ...                     ...                       ...
940                  -17.0                     7.0                       8.0
941                   -4.0                     2.0                      11.0
942                  -26.0                     9.0                       3.0
943                  -54.0                    36.0                       2.0
944                  -37.0                    13.0                       5.0

[945 rows x 6 columns]

In [7]:
print(df[['report_date']])

             report_date
0    2021-01-01T00:00:00
1    2021-01-02T00:00:00
2    2021-01-03T00:00:00
3    2021-01-04T00:00:00
4    2021-01-05T00:00:00
..                   ...
940  2023-07-30T00:00:00
941  2023-07-31T00:00:00
942  2023-08-01T00:00:00
943  2023-08-02T00:00:00
944  2023-08-03T00:00:00

[945 rows x 1 columns]

In [8]:
print(df[['report_date', 'new_doses']])

             report_date  new_doses
0    2021-01-01T00:00:00        NaN
1    2021-01-02T00:00:00     4615.0
2    2021-01-03T00:00:00     5396.0
3    2021-01-04T00:00:00     5995.0
4    2021-01-05T00:00:00     9687.0
..                   ...        ...
940  2023-07-30T00:00:00      623.0
941  2023-07-31T00:00:00      226.0
942  2023-08-01T00:00:00     1085.0
943  2023-08-02T00:00:00     1395.0
944  2023-08-03T00:00:00     1016.0

[945 rows x 2 columns]

In [9]:
df['new_doses_unvaccinated'] = df['total_individuals_at_least_one'].diff()

In [11]:
df['new_doses'] = df['total_doses_administered'].diff()

In [32]:
df

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses,new_doses,new_doses_unvaccinated,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines
0,1,2021-01-01T00:00:00,6252,6242,2,NaN,32208,32153,32142,22.0,11,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2021-01-02T00:00:00,4615,4603,6,NaN,36823,36704,36691,26.0,13,NaN,4615.0,4551.0,-2.0,-4547.0,NaN
2,3,2021-01-03T00:00:00,5396,5389,3,NaN,42219,42093,42077,32.0,16,NaN,5396.0,5389.0,-3.0,-5383.0,NaN
3,4,2021-01-04T00:00:00,5995,5993,0,NaN,48214,48085,48070,30.0,15,NaN,5995.0,5992.0,1.0,-5994.0,NaN
4,5,2021-01-05T00:00:00,9687,9662,21,NaN,57901,57745,57710,70.0,35,NaN,9687.0,9660.0,-20.0,-9620.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,941,2023-07-30T00:00:00,623,29,19,27.0,38844184,12668575,460749,NaN,12207826,7691203.0,623.0,27.0,-17.0,7.0,8.0
941,942,2023-07-31T00:00:00,226,6,4,15.0,38844410,12668581,460751,NaN,12207830,7691218.0,226.0,6.0,-4.0,2.0,11.0
942,943,2023-08-01T00:00:00,1085,48,31,33.0,38845495,12668624,460768,NaN,12207856,7691247.0,1085.0,43.0,-26.0,9.0,3.0
943,944,2023-08-02T00:00:00,1395,72,54,56.0,38846890,12668696,460786,NaN,12207910,7691303.0,1395.0,72.0,-54.0,36.0,2.0
944,945,2023-08-03T00:00:00,1016,61,37,42.0,38847906,12668757,460810,NaN,12207947,7691345.0,1016.0,61.0,-37.0,13.0,5.0